@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

/* CONFIGUAÇÕES GERAIS DO SITE ********** */

html, body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    scroll-behavior: smooth;
}


/* CABECALHO DO BUZZQUIZ ********** */
.topo{
    background-color: #EC362D;
    height: 69px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    margin: auto 0;
}

.logo a{
    text-decoration: none;
}

.logo a h1{
    color: #fff;
    font-weight: 700;
    font-size: 37px;
}

.conteudo{
    width: 1051px;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
}

main {
    justify-content: center;
    align-items: center;
}

.criar {
    width: 1051px;
    height: 181px;
    color: #d3d3d3;
    border: rgb(202, 202, 202) dashed 2px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}
.criado {
    width: 1051px;
    height: 181px;
    display: flex;
    flex-direction: row;
    justify-content: left; 
}
.alinhar-itens{
    height: 30px;
    display: flex;
    align-items: center;
}

.iconx{
    color: red;
    font-size: 31px;
}

.criarQuizz {
    width: 151px;
    height: 40px;
    color: red;
    background-color: none;
    border: red dashed 2px;
    border-radius: 50px;
    font-size: 21px;
    margin-top: 35px;
}

.quizz, .criarQuizz:hover {
    cursor: pointer;
}

.todosQuizzes {
    width: 1051px;
    height: auto;
    margin-top: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    width: 1051px;
    height: 23px;
    font-size: 20px;
    font-weight: 700;
}
.titulo2{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-right: 15px;
    padding: 0;
    display: block;
}

.quizzes {
    width: 1069px;
    height: 386px;
    display: flex;
    flex-wrap: wrap;
}

.quizz {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    margin: 8px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    font-size: 19px;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2225841020001751) 44%, rgba(0,0,0,0.7660014689469538) 100%);
    align-items: flex-end;
}

.quizzImg {
    position: absolute;
    width: 340px;
    height: 181px;
    border-radius: 5px;
    top: 0px;
}

.tituloQuizz {
    width: inherit;
    height: inherit;
    border-radius: 5px;
    top: 0px;
    position: absolute;
    justify-content:center;
    display: flex;
    text-align: center;
    align-items: inherit;
    flex-wrap: wrap;
    word-break:break-all;
    line-height: 25px;
    font-size: inherit;
    color: white;
    box-sizing: border-box;
    padding-bottom: 13px;
    z-index: 1;
    background: inherit;
}

.paginaQuizz {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #d3d3d3;
    scroll-behavior:smooth;
}

.boxTitulo {
    width: 100%;
    height: 227px;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 39px;
}

.tituloImg {
    width:inherit;
    height: inherit;
    object-fit: cover;
}

.boxPerguntas {
    width: 713px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 30px;
}

.pergunta {
    width: 689px;
    height: 138px;
    font-size: 23px;
    justify-content: center;
    display:flex;
    align-items: center;
    text-align:center;
    color:white;
}

.opcoes {
    width: 689px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.opcao {
    display: flex;
    width: 330px;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    word-break: break-all;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxResultado {
    width: 710px;
    display: flex;
    flex-wrap: wrap;
}

.resultTitle {
    background-color: #EC362D;
    width: 689px;
    height: 138px;
    font-size: 23px;
    justify-content: center;
    display:flex;
    align-items: center;
    text-align:center;
    color:white;
}

.resultText {
    width: 305px;
    height: 250px;
    margin: 15px;
    font-size: 19px;
    font-weight: 700;
    word-wrap: break-word;
    box-sizing: border-box;
}

.resultImg {
    width: 364px;
    height: 273px;
    margin-top: 15px;
}

.reiniciar {
    width: 260px;
    height: 52px;
    border-radius: 15px;
    background-color: #EC362D;
    color: white;
    font-size: 21px;
    margin-top: 57px;
    border: none;
    cursor: pointer;
}

.retornar {
    background-color: inherit;
    border: none;
    font-size: 21px;
    color: #818181;
    margin: 20px;
    cursor: pointer;
}

.opcao-outros{
    box-sizing: border-box;
    filter: saturate(0.7);
    opacity: 0.5;
    cursor: default;
}

.opcaoImg {
    width: 330px;
    height: 175px;
    margin-top: 20px;
    margin-bottom: 12px;
}

.color-green{
    color: #009C22;
}

.color-red {
    color: red;
}

.hidden {
    visibility: hidden;
}

.criar1, .criar2, .criar3, .criar4 {
    min-height:955px;
    height:auto;
    width: 100%;
    background-color: #E5E5E5;
    z-index:1;
    position: absolute;
    top: 69px;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    
}
.msgerro{
    color: #EC362D;
    font-size: 16px;
    line-height: 18.75px;

}
.criar1titulo, .criar2titulo, .criar3titulo, .criar4titulo{
    width: 240px;
    height:27px;
    font-size:23px;
    line-height: 26.95px;
    margin-top: 71px;    
}
.criar1infosquizz{
    height: auto;
    width:600px;
    margin-top: 27px;
    background-color:#FFFFFF;
    padding: 18px;
    box-sizing: border-box;

}
.criar1botao, .criar2botao, .criar3botao, .criar4botao{
    margin-top:85px;
    width:370px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    font-size:21px;
    line-height: 24.61px;
    text-align: center;
    color: #FFF5F4;
    font-weight: 400;
    
}
.criar2botao{
    margin-bottom: 26px;
}
.criar4botaovoltar{
    color:#818181;
    width:370px;
    height: 54px;
    border-radius: 15px;
    font-size:21px;
    line-height: 24.61px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 26px;
    border: none;
    

}
.criar1botao:hover, .criar2botao:hover, .criar3botao:hover, .criar4botao:hover, .criar4botaovoltar{
    cursor: pointer;
}
.inputcriar1, .inputcriar2, .inputcriar3{
    font-style:italic;
    font-size:19px;
    line-height: 22.27px;
    color: #bababa;
    width: 564px;
    height: 46px;
    margin-bottom: 9px;
    border-radius: 5px;
    outline: none;
    
}

.criar2perguntas, .criar3niveis{
    display:flex;
    height: auto;
    min-height: 74px;
    width:601px;
    position: relative;
    margin-top:36px;
    background-color: #FFFFFF;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    
    box-sizing: border-box;
    font-size: 20px;
    line-height: 23.44px;
}
.criar2perguntas p{
    margin-top: 28px;
    margin-bottom:24px;
}
.criar3niveis p{
    margin-top: 28px;
    margin-bottom:24px;
    
}
.respostacorreta{
    margin-top: 32px;
    width: 400px;
}

.criar2perguntas{
    padding:10px;
    flex-wrap: wrap;
    height: auto;
    box-sizing: border-box;
}
.iconeabrir{
    height:23px;
    width:26px;
    position: absolute;
    right: 10px;
}
.criar3niveis{
    padding: 10px;
    flex-wrap: wrap;
    height: auto;
    
}
.divimagemcriar4{
    height:266px;
    width:500px;
    margin-top: 46px;
    position: relative;

}
.divimagemcriar4 h1{
    position:absolute;
    top:0px;
    display:flex;
    z-index: 1;
    height: 266px;
    width:500px;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2225841020001751) 44%, rgba(0,0,0,0.7660014689469538) 100%);
    align-items: flex-end;
    padding: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 23px;
    line-height: 27px;
    

}
.criar4imagem{
    height:266px;
    width:500px;
    border-radius: 5px;
    

}
.escondido{
    display:none;
}

/* FORMATAÇÃO PARA MOBILE ********** */

@media screen and (max-width: 1100px) {

    
}